<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kapit Kamay</title>
        <link rel="shortcut icon" href="../assets/images/logo4.png" type="image/x-icon">
        <link rel="stylesheet" href="css/Landing css/landing.css">
        <link rel="stylesheet" href="css/Landing css/landing_mq.css">
        
    </head>
    <body>

        <header class="main-header">
            <div class="main-header-logo">
                <img src="../assets/images/logo4.png" alt="Kapit-Kamay logo 1">
                <h2>Kapit-Kamay</h2>
            </div>

            <span class="hamburger-icon-mobile">&#9776;</span>

            <nav class="main-header-nav">
                <ul>
                    <li><a href="#Home">Home</a></li>
                    <li><a href="#About">About</a></li>
                    <li><a href="#Contact">Contact</a></li>
                    <li><a class="header-btn header-btn-1" href="login.html">Login</a></li>
                    <li><a class="header-btn header-btn-2" href="signup.html">Signup</a></li>
                </ul>
            </nav>
        </header>

        <section class="section-1" id="Home">
            <div class="section-1-content">
                <div class="section-1-content-text">
                    <h1>Kapit-Kamay</h1>
                    <p>Students and communities help each other, hand in hand.</p>
                    <p>"Kabataan ang pag-asa ng bayan." -Dr. Jose Rizal</p>
                    <a class="join-btn" href="signup.html">Join Us</a>
                </div>
                <div class="section-1-content-pic">
                    <img src="../assets/images/logo-irl.jpg" alt="">
                </div>
            </div>
        </section>

        <section class="section-2" id="About">
            <div class="section-2-content">
                <div class="section-2-content-pic">
                    <div class="carousel" data-carousel>
                        <button class="carousel-button prev" data-carousel-button="prev">&#8656;</button>
                        <button class="carousel-button next" data-carousel-button="next">&#8658;</button>
                        <ul data-slides>
                            <li class="slide" data-active>
                                <img src="../assets/images/image-carousel-1.png" alt="Helping People #1">
                            </li>

                            <li class="slide">
                                <img src="../assets/images/image-carousel-10.jpg" alt="Helping People #2">
                            </li>

                            <li class="slide">
                                <img src="../assets/images/image-carousel-3.jpg" alt="Helping People #3">
                            </li>

                            <li class="slide">
                                <img src="../assets/images/image-carousel-4.png" alt="Helping People #4">
                            </li>

                            <li class="slide">
                                <img src="../assets/images/image-carousel-5.png" alt="Helping People #5">
                            </li>
                        </ul>
                    </div>
                    <!-- <img src="../assets/images/logo-irl.jpg" alt=""> -->
                </div>
                <div class="section-2-content-text">
                    <p><strong>Kapit-Kamay</strong> is a community-driven
                        platform where people come together
                        to offer help, share support, and lift
                        each other up — hand in hand.
                        Whether you need assistance or want
                        to lend a hand, <strong>Kapit-Kamay</strong>
                        connects hearts through kindness
                        and collective action
                    </p>
                    <a class="read-more-btn" href="">Read More</a>
                </div>
            </div>
        </section>

        <section class="section-3">
            <div class="section-3-content">
                <div class="section-3-content-text">
                    <h2>What do our users say?</h2>
                    <p>Hear how Kapit-Kamay is making a difference - one helping hand at a time.</p>
                </div>
                <div class="section-3-content-user-reviewer">
                    <div class="section-3-content-user-reviewer-1st-row">
                        <div class="user-reviewer-profile">
                            <h4>Jose Protacio Madayag</h4>
                            <p class="user-reviewer-star-ratings">★★★★★</p>
                            <p>"This platform gave me real-world
                                experience and boosted my
                                confidence. Gamit kaayo ni sa
                                mga kabatan-onan."
                            </p>
                        </div>

                        <div class="user-reviewer-profile">
                            <h4>Damaso Ugay</h4>
                            <p class="user-reviewer-star-ratings">★★★★★</p>
                            <p>"Kapit-Kamay gave me the
                                opportunity to help my community
                                while building my experience. Love
                                how easy it is to apply for tasks!"
                            </p>
                        </div>

                        <div class="user-reviewer-profile">
                            <h4>Elias Guisihan</h4>
                            <p class="user-reviewer-star-ratings">★★★★★</p>
                            <p>"Nangayo ko'g tabang sa
                                pagpanglimpyo sa akong hurno.
                                Maayo kaayo ang estudyante,
                                tarong ug buotan."
                            </p>
                        </div>
                    </div>
                    
                    <div class="section-3-content-user-reviewer-1st-row section-3-content-user-reviewer-2nd-row">
                        <div class="user-reviewer-profile">
                            <h4>Rene de Gano</h4>
                            <p class="user-reviewer-star-ratings">★★★★★</p>
                            <p>"As a senior citizen, I needed
                                help with errands. Through this
                                site, a polite student assisted
                                me. Very helpful!"
                            </p>
                        </div>

                        <div class="user-reviewer-profile">
                            <h4>Aristotle Narra</h4>
                            <p class="user-reviewer-star-ratings">★★★★★</p>
                            <p>"l love how the system rewards
                                trust and kindness. The star
                                ratings and feedback system
                                encourage good behavior."
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-4" id="Contact">
            <div class="section-4-content">
                <div class="section-4-content-text">
                    <h2>Meet the Team Behind Kapit-Kamay</h2>
                    <p>
                        Our talented team made Kapit-Kamay a reality. With shared vision and dedication, each member contributed their unique skills to create a platform built on compassion and collaboration.
                    </p>
                </div>
                <div class="section-4-developers">
                    <div class="developer">
                        <a href="https://www.facebook.com/Kenn.143218"  target="_blank"><img src="../assets/images/Bot.webp" alt="Kenneth Picture"></a>
                        <h4>Kenneth Gano</h4>
                        <p>UI / UX Designer</p>
                    </div>

                    <div class="developer">
                        <a href="https://www.facebook.com/merpe.gg"  target="_blank"><img src="../assets/images/Polaris.webp" alt="Merry Picture"></a>
                        <h4>Merry Guisihan</h4>
                        <p>Database Manager</p>
                    </div>

                    <div class="developer">
                        <a href="https://www.facebook.com/kenneth.crisostomo.45654"  target="_blank"><img src="../assets/images/Cymanti.webp" alt="Kenny Picture"></a>
                        <h4>Kenny Madayag</h4>
                        <p>Backend Developer</p>
                    </div>

                    <div class="developer">
                        <a href="https://www.facebook.com/dripe333"  target="_blank"><img src="../assets/images/Aquarion.webp" alt="Lhorie Picture"></a>
                        <h4>Lhorie Narra</h4>
                        <p>Frontend Developer</p>
                    </div>

                    <div class="developer">
                        <a href="https://www.facebook.com/vien.ugay.1"  target="_blank"><img src="../assets/images/Elyrion.webp" alt="Vien Picture"></a>
                        <h4>Vien Ugay</h4>
                        <p>Graphic Designer</p>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="footer-sm">
                <img src="../assets/images/facebook-logo.png" alt="">
                <img src="../assets/images/instagram-logo.png" alt="">
            </div>
            <div class="footer-text">
                <p>@ Kapit Kamay. 2025. All rights reserved.</p>
            </div>  
        </footer>
        <script src="js/landing.js" defer></script>
    </body>
</html>