<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In - Kapit Kamay</title>
    <link rel="stylesheet" href="css/Login css/login.css">
    <link rel="shortcut icon" href="../assets/images/logo4.png" type="image/x-icon">
</head>
<body>

    <div class="container">
        <div class="content">
            <div class="content-login">
                <h1>Log in to<br>Kapit-Kamay</h1>
                <p>Let's continue working together to build
                    stronger communities. You're just one
                    step away from making a difference.
                </p>
                <form method="post" action="login.php">

                    <!-- Role selection (Student or Community) -->
                    <div class="role-selection">
                        <input type="radio" name="role" value="student" id="role_student" required>
                        <label for="role_student">Student</label>

                        <input type="radio" name="role" value="community" id="role_community" required>
                        <label for="role_community">Community</label>
                    </div>
                    <div class="inputs">
                        <div class="input-group">
                            <input type="email" name="login_email" placeholder="Enter your email" required>
                        </div>
                        <div class="input-group">
                            <input type="password" name="login_password" placeholder="Enter your password" required>
                        </div>

                        <input class="login-btn" type="submit" class="btn" value="Log in" name="login-btn">

                        <p>Don't have an account? <a href="signup.html">Sign up</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
