<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up - Kapit Kamay</title>
        <link rel="stylesheet" href="css/Login css/signup.css">
    <link rel="shortcut icon" href="../assets/images/logo4.png" type="image/x-icon">
    </head>
    <body>

        <div class="container">
            <div class="content">
                <div class="content-login">
                    <h1>Create Account</h1>
                    <p>Be part of a movement where
                        students and communities support
                        other, hand in hand.</p>
                    <form method="post" action="signup.php">

                        <!-- Role select (Student or Community) -->
                        <div class="role-selection">
                            <input type="radio" name="role" value="student" id="role_student" required>
                            <label for="role_student">Student</label>

                            <input type="radio" name="role" value="community" id="role_community" required>
                            <label for="role_community">Community</label>
                        </div>
                        <div class="inputs">
                            <div class="input-group">
                                <input class="input-fname" type="text" name="signup_fname" placeholder="First Name" required><br/>
                                <input type="text" name="signup_lname" placeholder="Last Name" required>
                            </div>
                            <div class="input-group">
                                <input type="email" name="signup_email" placeholder="Email" required>
                            </div>
                            <div class="input-group">
                                <input type="password" name="signup_password" placeholder="Password" required>
                            </div>
                            
                            <input class="signup-btn" type="submit" class="btn" value="Sign Up" name="signup-btn">
                            
                            <p>Already have an account? <a href="login.html" id="login-btn">Log in</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>
