@media screen and (max-width: 800px) {
    .header-main-logo {
        margin-left: 20px;
    }

    .header-main-logo h1 {
        padding-top: 0.8em;
        font-size: 1.2em;
    }

    .header-main-role-dashboard {
        display: none;
    }

    .header-main-tools {
        display: flex;
        justify-content: space-between;
        gap: 1vw;
    }

    .header-main-notifications {
        margin-right: 0px;
    }

    .profile-icon-mobile {
        display: inline-block;
        
    }

    .body-content-user {
        display: none;
    }

    .body-content-task {
        margin: auto;
    }
}

@media screen and (max-width: 500px) {

    .header-main-logo {
        margin-left: 20px;
    }

    .header-main-logo h1 {
        padding-top: 0.8em;
        font-size: 1.2em;
    }

    .header-main-role-dashboard {
        display: none;
    }

    .profile-icon-mobile {
        display: inline-block;
        
    }

    .body-content-user {
        display: none;
    }

    .body-content-task {
        margin: auto;
    }

}